<!DOCTYPE html>
<html>
	<head>
		<title>Media Scouting Form</title>
      	<link rel="icon" href="{{ url_for('static',filename = 'favicon.png')}}">
      <link rel="stylesheet" href="{{ url_for('static',filename = 'css/default.css')}}">
      <link rel="stylesheet" href="{{ url_for('static',filename = 'css/form.css')}}">
      <script type="text/javascript" src="{{ url_for('static', filename = 'js/autofill.js') }}"></script>
	</head>
	<body>
		<div id="topBar">
			<a href="/"><button id="backButton">< Back to Home</button></a>

      		<h2>Media Pit Scouting</h2>
      	</div>
		<form method="POST" action="submit?form=media" id="form">
			<div>
          		<label for="team_number">Team Number</label>
          		<input type="number" name="teamNumber" id="teamNumberInput" placeholder="3324" required>
        	</div>
			<div>
				<textarea form="form" name="notes" placeholder="Enter notes here..." rows="35" cols="55"></textarea>
			</div>
			<button>Submit</button>
		</form>
	</body>
</html>
