@font-face {font-family: openserif; src: url("font.ttf")}

h2 {
	width: 50%;
	text-align: center;
	margin: auto;
}
#topBar {
	display: table;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #b10003;
	width: 100%;
	color: white;
	height: 50px;
	padding-top: 20px;
}
body {
	padding-top: 80px;
	font-family: openserif;
}
#backButton {
	transition-duration: .15s;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #b10003;
	text-decoration: none;
	font-size: 15px;
	color: white;
	cursor: pointer;
	height: 70px;
	border: none;
	width: 150px;
	font-family: openserif;
}

#backButton:hover {
	background-color: #820d14;
}

.autocomplete-items {
  background-color: #fff;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 6px;
  transition-duration: .15s;
  cursor: pointer;
}
.autocomplete-items:hover {
  background-color: #b9b9b9;
}

#teamNumberInputautocomplete-list {
  background-color: #b10003;
  border: 2px solid #b3b3b3;
  width: 154px;
  text-align: center;
  border-top: none;
  position: absolute;
  right: 0px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding-top: 10px;
}

form {
	position:relative;
}

.autocompleteEmptyText {
  color: white;
  text-align: center;
  width: 100%;
}

@media (pointer:coarse) {
	body {
		padding-top: 100px;
		font-size: 22px;
	}
	h2 {
		width: 600px;
		font-size: 45px;
		margin-bottom: 10px;
	}
}