h2 {
	width: 400px;
	text-align: center;
	text-decoration: underline;
	margin: auto;
}
#topBar {
	display: table;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #b10003;
	width: 100%;
	color: white;
	height: 50px;
	padding-top: 20px;
}
body {
	padding-top: 80px;
}
#backButton {
	transition-duration: .15s;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #b10003;
	text-decoration: none;
	font-size: 15px;
	color: white;
	cursor: pointer;
	height: 70px;
	border: none;
	width: 150px;
}

#backButton:hover {
	background-color: #820d14;
}