form {
    width: 420px;
    margin: auto;
    margin-bottom: 100px;
}
div {
  margin-bottom: 20px;
}
label {
  display: inline-block;
  width: 240px;
  text-align: right;
  padding-right: 10px;
}

button, input[type="text"], input[type="number"] {
  float: right;
}
p {
  display: inline-block;
  font-size: 13px;
  margin-right: 15px;
  margin-top: 0px;
}
input[type="text"], input[type="number"] {
    width: 150px;
}
.radioButtons {
    line-height: 21px;
    padding-left: 9px;
    vertical-align: top;
}

@media (pointer:coarse) {
	form{ 
		font-size: 60px;
		width: 600px;
		margin: auto; 
	}
}