
<!DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8">
      <title>3324 Scouting Form</title>
      <link rel="icon" href="{{ url_for('static',filename = 'favicon.png')}}">
      <link rel="stylesheet" href="{{ url_for('static',filename = 'form.css')}}">
      <link rel="stylesheet" href="{{ url_for('static',filename = 'default.css')}}">

      <script type="text/javascript" src="{{ url_for('static', filename = 'autofill.js') }}"></script>
    </head>
    <body>
      <div id="topBar">
        <h2>Match Scouting</h2>
      </div>
      <a href="/"><button id="backButton">< Back to Home</button></a>


      <form method="POST" action="{{ url_for('submitted_match') }}">
        <div>
          <label for="team_number">Team Number</label>
          <input type = "number" name="team" id="teamNumberInput" placeholder="3324" required>
        </div>
        <div>
          <label for="sandstorm_rocket_points">How many points did this team score in the rocket during sandstorm?</label>
          <input type = "number" name="sandstorm_rocket_points" id="sandstorm_rocket_points" value="0">
        </div>
          <div>
          <label for="sandstorm_cargoship_points">How many points did this team score in the cargoship during sandstorm?</label>
          <input type = "number" name="sandstorm_cargoship_points" id="sandstorm_cargoship_points" value="0">
        </div>
        <div>
          <label for="starting_level">What level did this team start at</label>
          <input type = "number" name="starting_level" id="starting_level" value="1">
        </div>
        <div>
          <label for="teleop_rocket_points">How many points did this team score in the rocket during teleop?</label>
          <input type = "number" name="teleop_rocket_points" id="teleop_rocket_points" value="0">
        </div>
        <div>
          <label for="teleop_cargoship_points">How many points did this team score in the cargoship during teleop?</label>
          <input type = "number" name="teleop_cargoship_points" id="teleop_cargoship_points" value="0">
        </div>
        <div>
          <label for="climb">What level did this team end at/climb to?</label>
          <input type = "number" name="climb" id="climb" value="0">
        </div>
        <div>
          <label for="other">Other Notes (Buddy climb, etc)</label>
          <input type = "text" name="other" id="other" value="None">
        </div>
        <div>
          <button>Submit</button>
        </div>
      </form>
    </body>
</html>