<!DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8">
      <title>3324 Metrobots Scouting Hub</title>
      <link rel="icon" href="{{ url_for('static',filename = 'favicon.png')}}">
      <link rel="stylesheet" href="{{ url_for('static',filename = 'index.css')}}">
      <link rel="stylesheet" href="{{ url_for('static',filename = 'default.css')}}">
    </head>
    <body>
      <p>
           <div id="topBar">
            <h2>Scouting Links</h2>
           </div>

           <a href="match_scouting">Match Scouting</a> <br> <br>
           <hr>
           <h4>Pit Scouting Forms</h4>
           <a href="mechanical_scouting">Mechanical Pit Forms</a> <br> <br>
           <a href="electrical_scouting">Electrical Pit Forms</a> <br> <br>
           <a href="programming_scouting">Programming Pit Forms</a> <br> <br>
           <hr>
           <h4>CSV Exports</h4>
           <a href="match_data">Export Match Scouting Data</a> <br> <br>
           <a href="mechanical_data">Export Mechanical Pit Data</a> <br> <br>
           <a href="electrical_data">Export Electrical Pit Data</a> <br> <br>
           <a href="programming_data">Export Programming Pit Data</a>
      </p>
    </body>
</html>