<!DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8">
      <title>3324 Metrobots Scouting Hub</title>
      <link rel="icon" href="{{ url_for('static',filename = 'favicon.png')}}">
      <link rel="stylesheet" href="{{ url_for('static',filename = 'index.css')}}">
    </head>
    <body>
      <p>
           <h2>Form Links</h2>
           <a href="match_scouting">Match Scouting</a> <br> <br>
           <a href="pit_scouting">Pit Scouting Form</a> <br> <br>
           <a href="download_data">Download Match Scouting Data as CSV</a> <br> <br>
      </p>
    </body>
</html>