<!DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8">
      <title>3324 Metrobots Scouting Hub</title>
      <link rel="icon" href="{{ url_for('static',filename = 'favicon.png')}}">
      <link rel="stylesheet" href="{{ url_for('static',filename = 'css/default.css')}}">
    </head>
    <body>
      <p>
           <div id="topBar">
            <h2>Scouting Links</h2>
           </div>

           <a href="form?type=match">Match Scouting</a> <br> <br>
           <hr>
           <h4>Engineering Pit Scouting Forms</h4>
           <a href="form?type=mechanical">Mechanical Pit Form</a> <br> <br>
           <a href="form?type=electrical">Electrical Pit Form</a> <br> <br>
           <a href="form?type=programming">Programming Pit Form</a> <br> <br>

           <h4>BAM Pit Scouting Forms</h4>
           <a href="form?type=media">Media Pit Form</a> <br> <br>
           <a href="form?type=fundraising">Fundraising Pit Form</a> <br> <br>
           <hr>
           <a href="raw_data"><h4>Data Viewing Portal</h4></a>
      </p>
    </body>
</html>
