<!DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8">
      <title>Form Submitted</title>
      <link rel="icon" href="{{ url_for('static',filename = 'favicon.png')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename = 'css/default.css')}}">
    </head>
    <body>
      <p>
          <div id="topBar">
            <a href="/"><button id="backButton">< Back to Home</button></a>
            <h2>Form Submitted</h2> <br>
          </div>
           <a href="form?type=match">Return to Match Scouting</a> <br> <br>
           <a href="form?type=mechanical">Return to Mechanical Pit Scouting</a> <br> <br>
           <a href="form?type=electrical">Return to Electrical Pit Scouting</a> <br> <br>
           <a href="form?type=programming">Return to Programming Pit Scouting</a> <br> <br>
           <a href="form?type=media">Return to Media Pit Scouting</a> <br> <br>
           <a href="form?type=fundraising">Return to Fundraising Pit Scouting</a> <br> <br>
           <hr>
           <a href="raw_data"><h4>Data Viewing Portal</h4></a>
      </p>
    </body>
</html>
