<!DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8">
      <title>Form Submitted</title>
      <link rel="icon" href="{{ url_for('static',filename = 'favicon.png')}}">
      <link rel="stylesheet" href="{{ url_for('static',filename = 'submitted.css')}}">
    </head>
    <body>
      <p>
          <h2>Form Submitted</h2> <br>
           <a href="match_scouting">Return to Match Scouting</a> <br> <br>
           <a href="pit_scouting">Return to Pit Scouting</a> <br> <br>
           <a href="download_data">Download Match Scouting Data as CSV</a>
      </p>
    </body>
</html>